<% users.forEach(function(user){ %>
<hr />
<div>
  <span>name:</span>
  <%= user.name %>
</div>
<div>
  <span>phone:</span>
  <%= user.phone %>
</div>
<div>
  <span>email:</span>
  <%= user.email %>
</div>
<div>
  <button><a href="/list/update/<%= user.id %>">Update</a></button>
  <button
    type="submit"
    formmethod="post"
    formaction="/list/delete/<%= user.id %>"
  >
    Delete-POST
  </button>
</div>
<% });%>
