<% users.forEach(function(user){ %>
<hr />
<div>
  <span>name:</span>
  <%= user.name %>
</div>
<div>
  <span>phone:</span>
  <%= user.phone %>
</div>
<div>
  <span>email:</span>
  <%= user.email %>
</div>
<div>
  <button><a href="/list/update/<%= user.id %>">Update</a></button>
  <button><a href="/list/<%= user.id %>">Delete</a></button>
</div>
<% });%>
