<% users.forEach(function(user){ %>
<hr />
<div>
  <span>name:</span>
  <%= user.username %>
</div>
<div>
  <span>phone:</span>
  <%= user.phone %>
</div>
<div>
  <span>email:</span>
  <%= user.email %>
</div>
<div>
  <span>message:</span>
  <%= user.message %>
</div>
<div>
  <form>
    <button><a href="/ListOne/update/<%= user.id %>">Update</a></button>
    <button
      type="submit"
      formmethod="post"
      formaction="/ListOne/delete/<%= user.id %>"
      class="buttonDelete"
    >
      Delete
    </button>
  </form>
</div>
<% });%>
