<div>
  <hr />
  <span>name:</span> <%= user.name %><br />
  <span>phone:</span> <%= user.phone %><br />
  <span>email:</span> <%= user.email %><br />
</div>
<div>
  <form action="/MessagesPage" method="post">
    <fieldset>
      <legend>&nbsp&nbspAny Comments&nbsp&nbsp</legend>
      Name: <input type="text" name="name" id="name" /><br />
      Email: <input type="text" name="email" id="email" /><br />
      Phone: <input type="text" name="phone" id="phone" /><br />
      Message:<br />
      <textarea name="message" rows="3" cols="28" id="message"></textarea><br />
      <button
        type="submit"
        formmethod="post"
        formaction="/list/update/<%= user.id %>"
      >
        Update-POST
      </button>
      <button
        type="submit"
        formmethod="post"
        formaction="/list/delete/<%= user.id %>"
      >
        Delete-POST
      </button>
    </fieldset>
  </form>
</div>
<div></div>
